*,
body {
  background: black;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: center;
}

.header-logo {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.list {
  &-container {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
  }
  &-el {
    margin: 5px;
    list-style: none;
  }
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin: 15px;
    border-radius: 25px;
    background-color: #51b95a;
  }
  &-img {
    border-radius: 25px;
  }
  &-title {
    font-size: 22px;
    margin-top: 20px;
    background-color: #51b95a;
  }
  &-subtitle {
    background-color: #51b95a;
  }
}

.link {
  text-decoration: none;
  color: #0e565f;
  &-detail {
    background-color: #00afc8;
    text-decoration: none;
    color: #0e565f;
    font-weight: bold;
    font-size: 18px;
  }
}

.form {
  display: flex;
  justify-content: center;
  margin: 20px;
  &-input-text {
    outline: none;
    background: silver;
    border: 1px solid #393939;
    border-radius: 5px;
    color: #393939;
    font-size: 24px;
    padding: 5px;
  }
}

.character-detail {
  &-img-container {
    width: max-content;
    background: #00afc8;
  }
  &-img {
    width: 240px;
  }
  &-return {
    text-align: center;
    background: #00afc8;
  }

  &-card {
    margin-top: 130px;
    border-radius: 20px;
    padding: 25px;
    background: #00afc8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 100px #51b95a;
  }
  &-text {
    width: 250px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #00afc8;
  }
  &-name {
    font-size: 26px;
    background: #00afc8;
    color: #0e565f;
  }
  &-info {
    background: #00afc8;
    color: #0e565f;
    font-size: 16px;
  }
  &-icon {
    background: #00afc8;
    width: 120px;
    border-radius: 50px;
    &-container {
      background: #00afc8;
    }
  }
}
.fas,
.far {
  margin-left: 5px;
  background: #00afc8;
  color: black;
}

.not-found {
  &-container {
    padding: 30px;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-title {
    padding: 20px;
    width: 50vw;
    font-size: 40px;
    color: #00afc8;
  }
  &-img {
    width: 400px;
  }
  &-return {
    display: flex;
    justify-content: flex-end;
  }
  &-return-btn {
    border-radius: 35px;
    border: none;
    width: 240px;
    height: 60px;
    color: white;
    font-size: 22px;
    text-align: center;
    background: #00afc8;
    outline: none;
    box-shadow: 0px 8px 15px #34a9bb;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    outline: none;
    &:hover {
      box-shadow: 0px 10px 10px #03343b;
      transform: translateY(+3px);
    }
  }
}

.loader {
  &-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  &-title {
    padding: 20px;
    width: 30vw;
    font-size: 40px;
    color: #00afc8;
  }
  &-img {
    width: 300px;
  }
}
@media all and (max-width: 768px) {
  .header-logo {
    justify-content: center;
    margin: 20px 0 20px 0;
    &-img {
      width: 280px;
    }
  }
  .list {
    &-card {
      padding: 8px;
      margin: 8px;
    }
    &-img {
      width: 120px;
    }
    &-title {
      width: 120px;
      font-size: 14px;
      margin-top: 10px;
    }
    &-subtitle {
      font-size: 12px;
    }
  }

  .form {
    margin: 20px 0 20px 0;
    &-input-text {
      width: 150px;
      font-size: 16px;
    }
  }
  .character-detail {
    &-img {
      width: 180px;
      margin-bottom: 15px;
    }
    &-card {
      width: 230px;
      margin: 25px 20px 20px 20px;
      align-self: center;
      align-items: center;
      justify-items: center;
      padding: 20px 5px 5px 5px;
      flex-direction: column;
      box-shadow: 0 0 50px #45bd4f;
    }
    &-text {
      width: 180px;
      margin-left: 0px;
    }
    &-name {
      font-size: 18px;
    }
    &-return {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    &-icon {
      display: none;
      width: 80px;
      margin-top: 10px;
      &-container {
        justify-content: flex-end;
        width: 180px;
        display: flex;
      }
    }
  }

  .not-found {
    &-container {
      width: 80vw;
      flex-direction: column-reverse;
    }
    &-title {
      font-size: 22px;
    }
    &-img {
      width: 150px;
    }
    &-return {
      display: flex;
      justify-content: center;
    }
    &-return-btn {
      margin-top: 30px;
      width: 180px;
      height: 35px;
      font-size: 16px;
      background: #00afc8;
      box-shadow: 0px 8px 15px #34a9bb;
      transition: all 0.4s ease 0s;
      &:hover {
        box-shadow: 0px 10px 10px #03343b;
        transform: translateY(+3px);
      }
    }
  }

  .loader {
    &-container {
      flex-direction: column;
    }
    &-title {
      padding: 0px;
      margin-bottom: 15px;
      width: 80vw;
      font-size: 30px;
    }
    &-img {
      width: 200px;
    }
  }
}
